extends ../partials/archive-main-sidebar

block content
  .col
    p.no-margin
      | In addition to the many musical programs that we broadcast,
      | VOWR is pleased to offer a number of programs recorded at our
      | studio in St.&nbsp;John's, Newfoundland.

    p 
      | After episodes of programs like 
      span.em Guest Interview
      | , 
      span.em Your Health
      | , and 
      span.em Meditation 
      | have been broadcasted, listeners can find these shows on this 
      | website for their listening pleasure.

    p
      | Click on the 
      a(href="programs").em.ul Programs
      |  tab in the menu bar above to browse the archive.