extends ../partials/website-main-sidebar

block content
  .col
    p.no-margin
      | VOWR relies on financial donations from its listeners to continue 
      | to bring you the "Music of your Life" &mdash; the music you grew up 
      | with.


    p
      | Donations can be mailed to our address, which can be found to the 
      | right of this page or submitted securely online via PayPal using the 
      span.em Donate 
      | button. Tax deductible receipts will be issued for all 
      | donations.

    .em.ul
      a(href="/pdf/Donation form.pdf" target="_blank" rel="noopener noreferrer") Click Here to Print a Donation Form