extends ../partials/website-main

block content
  .container.blur-box
    .row
      .col
        h1= title
    .row
      .col
        p
          | On July&nbsp;24,&nbsp;1924, VOWR went on the air for the first time.

        p
          | Founded by Rev. Dr. Joseph G. Joyce as an outreach ministry
          | of Wesley United Church, then known as Wesley Methodist
          | Church, VOWR continues Reverend Joyce's original mission
          | with a wide array of Christian programming.

        p
          | But, over the years, the station's role has expanded by
          | offering a great mix of music that's highlighted by easy
          | listening, pop, country, classical as well as Celtic and
          | folk; with the rich talent of Newfoundland and Labrador
          | performers being widely heard on our station.

        p
          | On this, the 95th anniversary of its first broadcast, the
          | volunteers at VOWR promise to not only steadfastly uphold
          | Reverend Joyce's original mission, but to continue to
          | shape VOWR as a true contributor to the cultural fabric
          | of our community.

      .col.col-lg-3
        img(src='/images/old-time-radio.png' width='100%')
