extends ../partials/website-main-sidebar

block content
  .col
    p.no-margin
      | Here you will find a brief description of our most popular programs.
      | These are our marquee shows that help define VOWR as a radio 
      | station. As you browse through them, you'll discover that we offer 
      | many different types of music; from classical to classic country, 
      | easy listening to soft rock, and lots more.

    p
      | We hope that many of these programs will become your favourites and 
      | that you'll experience hours of listening pleasure with VOWR every 
      | week. Of course our programming is not limited to these shows. We're 
      | here 24 hours a day, 7 days a week.