extends ../partials/website-main-sidebar

block content
  .col
    p.no-margin
      | Here you will find a brief description of our most popular programs.
      | These are our marquee shows that help define VOWR as a radio 
      | station. As you browse through them, you'll discover that we offer 
      | many different types of music; from classical to classic country, 
      | easy listening to soft rock, and lots more.

    p
      | We hope that many of these programs will become your favourites and 
      | that you'll experience hours of listening pleasure with VOWR every 
      | week. Of course our programming is not limited to these shows. We're 
      | here 24 hours a day, 7 days a week.
    
    .row
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 50 Plus: The Radio Show
            .card-text.mb-2.pre
              | Tuesdays | 11:00 AM &ndash; 1:00 PM
            .card-text.mt-1
              | Great music from years past. Historical factoids. Current
              | community events. A little trivia. And, a lot of fun.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 800 Country
            .card-text.mb-2.pre
              | Fridays | 7:00 PM &ndash; 10:00 PM
              | Saturdays | 12:00 PM &ndash; 3:00 PM
            .card-text.mt-1
              | In the title of her 1981 hit song, country music legend, 
              | Barbara Mandrell declares I Was Country When Country Wasn't 
              | Cool. If Ms.&nbsp;Mandrell's mantra aptly decribes your 
              | relationship with country music, then 
              span.em 800 Country 
              | is your show.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Breakfast at 800
            .card-text.mb-2.pre
              | Weekdays | 7:30 AM &ndash; 9:00 AM
            .card-text.mt-1
              | Savour the freshness of the morning. Celebrate the promise 
              | of a new day. Our soft melodies are your wake up call. 
              | Catch the latest weather, community information and more 
              | with hosts who love the mornings as much as you do.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Celtic Breakfast
            .card-text.mb-2.pre
              | Saturdays | 7:30 AM &ndash; 9:00 AM
            .card-text.mt-1
              | The roots of Celtic music run deep. Its traditions seem 
              | timeless. Its bond with Newfoundland music is simply 
              | unbreakable. This Saturday morning, have a kitchen party.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Classical Company
            .card-text.mb-2.pre
              | First Saturday of every month | 8:00 PM &ndash; 10:00 PM
            .card-text.mt-1
              | The greatest music ever written. Transcending not just 
              | years and decades, but generations. Beethoven. Bach. 
              | Mozart. And, many more. Performed by some of the world's 
              | most prestigious orchestras.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Country Gospel
            .card-text.mb-2.pre
              | Saturdays | 11:00 AM &ndash; 12:00 PM
            .card-text.mt-1
              | A full hour of old-time country gospel favourites.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Guest Interview
            .card-text.mb-2.pre
              | Sundays | 2:00 PM &ndash; 2:30 PM
              | Wednesdays | 7:30 PM &ndash; 8:00 PM (Repeat)
            .card-text.mt-1
              | Science, public policy, business, the arts, land 
              | agriculture, architecture, the fishery, media, and 
              | research projects are just some of the conversation 
              | topics touched on each week by people in Newfoundland 
              | who share some of their unique histories, ideas, 
              | opinions, work experience and more.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Hymns at Eventide/Hymns for the Quiet Hour
            .card-text.mb-2.pre
              | Thursdays | 9:00 PM &ndash; 10:00 PM
              | Sundays | 8:05 PM &ndash; 10:00 PM
            .card-text.mt-1
              | Find solace and comfort in the grand old hymns that 
              | have been passed on from generation to generation.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Lunch Break
            .card-text.mb-2.pre
              | Weekdays | 1:00 PM &ndash; 2:00 PM
            .card-text.mt-1
              | Established artists and new performers. All Newfoundland 
              | and Labrador.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Meditation
            .card-text.mb-2.pre
              | Weekdays | 9:00 AM &ndash; 9:05 AM
            .card-text.mt-1
              | Five minutes to contemplate life's spiritual dimension. 
              | To consider our frailties and fears, sorrows and joys and 
              | everything else that makes us human. Various clergy 
              | from around the Avalon Peninsula offer their perspective.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Music for Relaxation
            .card-text.mb-2.pre
              | Daily | 10:00 PM &ndash; 12:00 AM
            .card-text.mt-1
              | Your escape after a busy day. With silky instrumentals, 
              | precision harmonies and serious solo artists. The likes 
              | of Frank Sinatra, Diana Krall and Dionne Warwick feel 
              | right at home here. And, you will too. With amiable 
              | hosts who understand that, at this time of the night, 
              | the fewer words, the better.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Saturday Matinee
            .card-text.mb-2.pre
              | Saturdays | 3:00 PM &ndash; 6:00 PM
            .card-text.mt-1
              | On Saturday afternoons, we rock to the music of the 
              | 1950s, '60s, and '70s. But, we do it gently. And, 
              | without the screaming DJ. But, we do have something 
              | to say. Anecdotes about the artists' careers, 
              | milestones in their lives, and the events that made 
              | them stars.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Sunday Morning
            .card-text.mb-2.pre
              | Sundays | 8:45 AM &ndash; 2:00 PM
            .card-text.mt-1
              | The dignity of Sunday morning is steadfastly preserved 
              | at VOWR. The centre piece begins at 11:00 AM with a live 
              | broadcast of a worship service from a St.&nbsp;John's area 
              | church. Prior to the service, we fill your morning with 
              | spirit lifting music and soul touching spoken word that 
              | extends into the early afternoon. It's a celebration of 
              | Christianity.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 VOWR Variety
            .card-text.mb-2.pre
              | Sundays | 2:30 PM &ndash; 6:00 PM
            .card-text.mt-1
              | For many people, Sunday afternoon is an oasis of simple 
              | pleasures and relaxation. It's your time. Family time. 
              | Unwind time. We hope you'll share some of that time with 
              | us. We promise to keep the conversation light. And, the 
              | music easy.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Words &amp; Music
            .card-text.mb-2.pre
              | Saturdays | 7:00 PM &ndash; 7:30 PM
              | Sundays | 1:00 PM &ndash; 1:30 PM
            .card-text.mt-1
              | If you're having a bad day, a bad week or even a bad year, 
              span.em Words &amp; Music 
              | promises to refresh and restore your 
              | soul. The words are inspiring. The music is soothing. 
              | Your heart will soar.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Worship Services
            .card-text.mb-2.pre
              | Sundays | 11:00 AM &amp; 7:00 PM
            .card-text.mt-1
              | It was the reason VOWR was founded at Wesley United Church 
              | over ninety years ago; to allow those who cannot get out to 
              | church to share in a worship service. While most of our 
              | broadcasts still originate from Wesley, VOWR regularly 
              | broadcasts services from churches of other denominations in 
              | the St. John's area. Two different services are broadcast 
              | every Sunday. The 11:00 AM service is broadcast live while 
              | the 7:00 PM service is usually recorded in the morning for 
              | presentation in the evening. Please check our Worship 
              | Schedule to find out which St. John's area church will host 
              | our next broadcast.
      .col-lg-4
        .card.mb-4
          .card-body
            h5.bf.card-title.mb-1 Your Health
            .card-text.mb-2.pre
              | Sundays | 12:15 PM &ndash; 12:30 PM
              | Mondays | 7:30 PM &ndash; 7:45 PM (Repeat)
            .card-text.mt-1
              | Local medical professionals discuss general health issues. 
              | A different topic every week.
            .card-text.mt-2.em
              span.bf Please Note: 
              | This series does not provide individual health advice. 
              | Consult a physician about your personal health issues.